.App{
  text-align: center;
}
.row{
  display: flex;
  width:80%; 
  margin:0 auto; 
  background: white;

}
.TotalConfirmed,
.NewConfirmed,
.NewDeaths,
.TotalDeaths,
.TotalRecovered{
  padding:20px;
  margin:0 auto; 
}
table{
  border-collapse:separate;
  width:80%;
  margin: 0 auto;
}
table thead tr th{
  padding: 12px;
  text-align: left;
}
table tbody tr td{
  padding:12px;
  text-align:left;
}
ul{
  display: flex ;
  text-align: center;
  list-style-type: none;
 
}
li{
  padding-left:80px;
  margin:10px;
  width:100%;
  text-align: center;
}
.form{
  padding:5px;
  text-align: center;
}